$root-font-size: 16px;
$roboto-font: "Roboto", sans-serif;
$poppins-font: "Poppins", sans-serif;
$letter-spacing: -0.5px;
$line-height: 1.25rem;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
$mobile: 600px;
